<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Dashboard Neyle</title>
</head>
<body>
    <div class="contenedorPassword">
        <input type="number" id="caracteres" value="12" min="12" max="50">
        <button id="buttonPassword">Generar Contraseña</button>
        <h4>Contraseña Generada</h4>
        <p id="contraseñaGenerada"></p>
    </div>

    <footer>
        <nav>
            <a href="./hora.html" target="_blank"><img src="../assets/imgIcon/reloj.png" alt="Reloj"/></a>
            <a href="./password.html" target="_blank"><img src="../assets/imgIcon/candado.png" alt="candado"/></a>
            <a href="./enlaces.html" target="_blank"><img src="./src/assets/imgIcon/enlace.png"/></a>
            <a href="./clima.html" target="_blank"><img src="./src/assets/imgIcon/nube.png" alt="Clima"/></a>
        </nav>
    </footer>  
</div>
<script src="../js/password.js"></script>
</body>
</html>